.logo {
  margin-bottom: 10px;
}

.nav {
  margin: 0 0 10px;
  padding: 0 0 20px;

  a {
    background: #3a4250;
    color: #fff;
    padding: 4px 10px;
    margin: 0 2px;
    border-radius: 2px;

    &.active {
      background: #363c48;
      color: #b690f1;
    }
  }
}
